@font-face {
    font-family: 'Samarkan';
    src: url('../fonts/Samarkan.ttf');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg, wheat 0%, white 100%);
    color: #1e1e1e;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

.heading{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
}

h1, h2 {
    font-family: 'Samarkan';
    text-align: center;
    margin: 0.5%;
    flex-shrink: 0;
}

h1 {
    font-size: 3vw;
    padding: 0.5%;
}

h2 {
    font-size: 2vw;
    padding: 0;
}

#chat {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: transparent;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    height: 65vh;
    width: 95vw;
    position: absolute;
    top: 20%;
}

.bot, .user {
    max-width: 45vw;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    word-wrap: break-word;
    font-size: 1rem;
}

.bot {
    align-self: flex-start;
}

.user {
    align-self: flex-end;
}

form {
    display: flex;
    padding: 1%;
    width: 100vw;
    box-sizing: border-box;
    flex-shrink: 0;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100vw;
}

form input[type="text"] {
    border: 2px solid #1e1e1e;
    font-size: 1.5vw;
    padding: 0.5%;
    width: 70%;
    background-color: white;
    border-radius: 10px;
}

form input[type="submit"] {
    font-size: 1.5vw;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    width: 15%;
    margin-left: 5px;
}

#reset-button {
    font-size: 1.5vw;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    width: 15%;
    margin-left: 5px;
}
